.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 86%;
    grid-gap: 1em;
    grid-template-areas:
        "header"
        "container";
}
.card-container{
    margin:0 1em;
grid-area: container;
}
.header{
    grid-area: header;
}
.title-header{
    width: 77%;
    text-align: justify;
}
.title-container{
    width: 88%;
    height: 12%;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin: 0 5%;
    font-size: 1.1rem;
    color: rgba(0,0,0,0.8);
    justify-content: space-between;
}
.btn-title{
    width: 5.5vmin;
    height: 4vmin;
}

