.container-login {
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.card {
  grid-area: container;
  overflow: auto;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2%;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 30%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-login>span {
  font-size: 22px;
}

.form-login {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.form-login>button {
  background-color: #323232;
  color: white;
  font-size: 18px;
}
.form-login>button:hover {
  background-color: #242424;
}

.logo-login > img {
  width: inherit;
}
.logo-login {
  width: 55%;
  margin-top: 3rem;
}

#idUsuario {
  font-size: 18px;
}
